body {
    margin:0;
    box-sizing: border-box;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size:cover;
    width:100vw;
    height:100vh;
}

.container {
    display: flex;
    height: 100vh;
    width:100vw;
}
.column1{
    width:30vw;
    height: 100vh;
    display:flex;
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap;
}
.column2{
    width:55vw;
    height: 100vh;
    display:flex;
    
}
.column3{
    width:15vw;
    height:100vh;
    display:flex; 
}
.name {
    width:75%;
    height:15%;
    background-color: #89c28c;
    margin-left:5%;
    color:white;
    border:solid 2px white;
    justify-content: center;
    display:flex;
    align-items:center;
}
.name>h1{
    text-align: center;
    font-family: Oswald,Arial, Helvetica, sans-serif;
}

.main {
    margin-top: 12%;
    width: 100%;
    height: 60%;
    background-color: white;
    border: solid 4px #89c28c;
    margin-left: -84px;
}