@media screen and (max-width:900px) {
  body{
    background-repeat: repeat;
    background-size: cover;
  }
  .container {
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .column1 {
    width: 100vw;
    display: block;
    height: auto;
  }
  .column1b {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .picture {
    width: 24%;
    height: auto;
    min-height: 200px;
    background-color: aliceblue;
    align-self: flex-start;
    margin-left: 10%;
    margin-top: -83px;
    margin-bottom: 15px;
  }

  .column2 {
    width: 100vw;
    height: auto;
    display: flex;
  }

  .main {
    margin-top: 86px;
    width: 100%;
    height: auto;
    background-color: white;
    border: solid 10px #89c28c;
    margin: 10px;
    overflow: scroll;
  }
  .column3 {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .column3 svg {
    color: #ffb70b;
    width: 9%;
    margin: 2%;
    padding: 2%;
  }
  .column3 svg:hover {
    color: #fef203;
    width: 9%;
    margin: 2%;
    padding: 2%;
  }
  .rating svg{
    padding-left: 1%;
  }
}

@media screen and (max-width:600px) {
  body{
    background-repeat: repeat;
    background-size: auto;
  }
  .container {
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .column1 {
    width: 100vw;
    display: block;
    height: auto;
  }
  .column1b {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .picture {
    width: 55%;
    height: auto;
    min-height: 200px;
    background-color: aliceblue;
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 15px;;
  }

  .column2 {
    width: 100vw;
    height: auto;
    display: flex;
  }

  .main {
    margin-top: 86px;
    width: 100%;
    height: auto;
    background-color: white;
    border: solid 10px #89c28c;
    margin: 10px;
    overflow: scroll;
  }
  .column3 {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .column3 svg {
    color: #ffb70b;
    width: 9%;
    margin: 2%;
    padding: 2%;
  }
  .column3 svg:hover {
    color: #fef203;
    width: 9%;
    margin: 2%;
    padding: 2%;
  }
  .rating svg{
    padding-left: 1%;
  }
}